@font-face {
	font-family: 'aller bold italic';
	src: url('aller_bdit-webfont.eot');
	src: url('aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
		url('aller_bdit-webfont.woff') format('woff'),
		url('aller_bdit-webfont.ttf') format('truetype'),
		url('aller_bdit-webfont.svg') format('svg');
}